body{
    background-color: #303030;
    background-image: url(img/background.jpg);
    color: white;
    font-family: 'Press Start 2P';
   
}
table{
    width: 100%;
    text-align: center; 
    border-spacing: 25px;
    
}
td{
    border-radius: 15px;
    background-color: #374046;
   
}
a{
    color: #F24F4A;
}
